In [1]:
import pandas as pd

In [2]:
dat = pd.read_csv('single_housing.csv')

In [3]:
dat

,Street,City,State,Zip,Price,SqFt,Acreage,Beds,Baths,geoadd,Latitude,Longitude,CheckAddDuplicate
0,103 Meadow Side Ct,Carrollton,GA,30116,2249,1436.0,0.42,3.0,2.0,"103 Meadow Side Ct, Carrollton, GA 30116",33.568164,-85.040620,False
1,39 Mountain View Dr,Rockmart,GA,30153,2675,3107.0,0.36,4.0,3.0,"39 Mountain View Dr, Rockmart, GA 30153",34.009622,-85.017519,False
2,32 Mountain View Dr,Rockmart,GA,30153,2099,1276.0,0.35,3.0,2.0,"32 Mountain View Dr, Rockmart, GA 30153",34.008885,-85.018616,False
3,381 Wingfoot St,Rockmart,GA,30153,2190,1447.0,0.33,3.0,2.0,"381 Wingfoot St, Rockmart, GA 30153",34.004158,-85.033841,False
4,30 Standing Rock Rd,Senoia,GA,30276,2200,1728.0,1.03,3.0,2.0,"30 Standing Rock Rd, Senoia, GA 30276",33.305696,-84.558150,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6106,6260 New Mill Trl,Acworth,GA,30102,1975,1300.0,0.69,3.0,2.0,"6260 New Mill Trl, Acworth, GA 30102",34.107751,-84.627044,False
6107,115 Jameson Dr,Acworth,GA,30102,2750,2113.0,0.00,3.0,2.5,"115 Jameson Dr, Acworth, GA 30102",34.114253,-84.637448,False
6108,6340 McCollum Ln,Acworth,GA,30102,5750,1480.0,1.00,4.0,2.0,"6340 McCollum Ln, Acworth, GA 30102",34.104797,-84.638603,False
6109,19 Moonlight Dr,Acworth,GA,30102,5200,1237.0,1.00,3.0,2.5,"19 Moonlight Dr, Acworth, GA 30102",34.111894,-84.659457,False
6110,122 Highland View Pass,White,GA,30184,2475,2468.0,2.00,5.0,3.0,"122 Highland View Pass, White, GA 30184",34.214803,-84.631582,False

In [4]:
#remove non-numeric columns
dat = dat.drop(['Street','City','State','Zip','geoadd','CheckAddDuplicate'], axis=1)

In [5]:
dat.describe()

,Price,SqFt,Acreage,Beds,Baths,Latitude,Longitude
count,6111.000000,5944.000000,6111.000000,6091.000000,6109.000000,6111.000000,6111.000000
mean,2421.439208,1861.199435,0.864762,3.231489,2.321820,33.780538,-84.370531
std,1603.797080,1067.200732,21.731543,0.900976,0.722147,0.212424,0.276679
min,580.000000,100.000000,0.000000,1.000000,0.500000,33.294565,-85.048940
25%,1860.000000,1355.000000,0.000000,3.000000,2.000000,33.628016,-84.555183
50%,2150.000000,1713.500000,0.000000,3.000000,2.500000,33.777894,-84.365786
75%,2500.000000,2200.000000,0.350000,4.000000,2.500000,33.926231,-84.167109
max,65000.000000,49299.440000,1332.000000,8.000000,9.000000,34.365909,-83.782030

In [6]:
dat.isna().sum()

Price          0
SqFt         167
Acreage        0
Beds          20
Baths          2
Latitude       0
Longitude      0
dtype: int64

In [ ]:
#thoughts
#1. PCA matrix completion to fill missing values
#2. KNN and rf to predict prices
#3. learn boosting trees and neural networks to predict prices

#aside
#the dataset is raw, probably need to remove the outliers
#the ultimate goal is to try to make better predictions than we did in summer